body {
    background: url("../images/skyrim_background.jpg") no-repeat center center fixed;
    background-size: cover;
}

.opaque-background {
    background: rgba(0, 0, 0, 0.9);
}

.btn-opacity {
    opacity: 0.75;
}